@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 48px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  /* before */
}

.slider::before {
  content: "";
  height: 100px;
  position: absolute;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}

.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 100%;
  z-index: 2;
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slideTrack {
  animation: scroll 50s linear infinite;
  display: flex;
  width: calc(150px * 14);
}

.slide {
  height: 100px;
  width: 100%;
}
